@import 'components_scss/reset.scss';
@import 'components_scss/redirect_setting.scss';
@import 'components_scss/fonts.scss';


html{
    width: 100%;
    height: 100%;
    font-family: "SF400";  


    color: rgba(35, 35, 35, 1);
    a {
        color: rgba(35, 35, 35, 1);
    }

}


div{
    height: max-content;
    background-color: #fff;
}

.F400{
    font-family: "SF400";  

}

.F500{
    font-family: "SF500";

}

.F600{
    font-family: "SF600";

}

.F700{
    font-family: "SF700";

}

.zindex1000{
    z-index: 1000;
}

.zindex500{
    z-index: 500;
}
.zindex0{
    z-index: -1;
}

.container{
    padding-top: 76px;
    margin: 0 auto;
    width: 390px;
    position: relative;


}

.close{
    width: 100%;
    height: 30px;
    background-image: url('../img/Close.svg');
    background-repeat: no-repeat;
    background-position: 330px 0px;
    background-size: 30px;
}



.logo{
    height: 48px;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    background-image: url(../img/logo.png);
    background-position: 70px;
    background-size: 46px ;
    background-repeat: no-repeat;
    padding-left: 20px;





}

.photo{
    margin: 80px auto 0 auto;
    width: 190px;
    height: 190px;
    background-image: url(../img/Photo.JPG);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    border-radius: 12px;
}

.name{
    margin-top: 12px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    &_status{
        font-size: 15px;
        opacity: 0.5;
        text-align: center;
        &_circle {
            font-size: 15px;
            line-height: 20px;
            display: inline-block;
            background: #02B92F;
            clip-path: circle(50%);
            height: 13px;
            width: 13px;
        }
    }
}

.position{
    margin-top: 34px;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    &_span{
        margin-top: 8px;
        display: block;
        font-size: 17px;
        line-height: 22px;
        opacity: 0.5;
        text-align: center; 
    }
}

.send{
    height: 130px;
    background-color: #fff;
    &_button{
        margin: 139px auto 80px auto;
        height: 48px;
        width: 358px;
        background-color: #1867DD;
        border: #1867DD solid 2px;
        //border-radius: 15px;
        font-size: 16px;
        line-height: 48px;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        transition: all 0.25s;
        &:hover{
            color: #1867DD;
            background-color: #fff;
        }
    }
}

.contact{
    position: absolute;
    top: 595px;
    background-color: #fff;
    width: 100%;
    height: 287px;
    border: #fff 1px solid;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;

    &_toggle{
        margin: 8px auto;
        width: 48px;
        height: 6px;
        background-color: #2A2A2A;
        opacity: 15%;
        border-radius: 6px;
        cursor: pointer;
    }

    &_head{
        margin-top: 11px;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
    }
    &_social{
        margin-top: 13 8px;
        font-size: 24px;
        line-height: 22px;
        text-align: left;

        cursor: pointer;
        transition: all 0.25s;

        .WP, .FB ,.TG{
        padding-left: 42px;
        height: 66px;
        line-height: 66px;
        width: 345px;
        padding-top: 17px;
        padding-bottom: 17px;
        color: rgba(35, 35, 35, 1);
        background-repeat: no-repeat;
        background-position: 50px;
        background-size: 32px;
        background-color: #FAFAFA;
        border-bottom: rgba(35, 35, 35, 0.12) 1px solid;
        .arrow {
            display: inline-block;
            width: 50%;
            text-align: right;
            
        }
            &:hover{
            border-bottom: #000 2px solid ;
             }
            }  
        .WP {  background-image: url('../img/WP.png');}
        .TG {  background-image: url('../img/TG.png');}
        .FB {  background-image: url('../img/FB.png');}
    }
}
.grey{
    position: absolute;
    top: 0px;
    background-color: #000;
    opacity: 70%;
    width: 100%;
    height: 100%;
}
